[color]
	ui = true	
	
[log]
	date = relative
	
[alias]
	nah = "!git reset --hard ; git clean -df"
	aa = add .
	c = commit
	co = checkout
	s = status -sb
	b = branch
	l = "log --abbrev-commit --decorate --format=format:'%C(cyan)%h%C(reset) %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'"
	rank = "shortlog -sn --no-merges"
	dev = checkout develop
	prod = checkout master

[help]
	autocorrect = 1